.preview {
	background-image: url(../img/bc.png);
	background-attachment: scroll;
	padding: 12.5em 0 2.5em 0;
	margin: 0;
}

.preview > p {
	width: 75%;
	font-size: 1.25em;
	margin: 0 auto;
	font-style: italic;
}

.preview a.btn {
	margin-top: 2.5em;
	color: white;
	width: 25%;
	border-color: white;
}

.preview a.btn:hover {
	color: #281356;
	background-color: white;
}

.preview div {
	margin-top: 12.5em;
}

.services .services-items .services-item {
	width: 25%;
}

.services .services-items .services-item h3 {
	margin: 1em 0 .25em 0;
	color: #281356;
}

.technologies .technologies-slider {
	margin-top: 2.5em;
	padding: 0 5%;
}

.technologies .technologies-slider div img {
	margin: auto !important;
	margin-bottom: 1.5em !important;
}

.portfolio .portfolio-items {
	margin-top: 1em;
	margin-bottom: 1em;
}

.portfolio .portfolio-items .portfolio-item {
	width: 100%;
}

.portfolio .portfolio-items .portfolio-item:hover {
	opacity: .75;
	transition: .25s;
}

.portfolio a.btn {
	width: 25%;
}

.testimotials .testimotials-slider p {
	margin: 2.5em 5% 1em 5%;
}

.testimotials .testimotials-slider h3 {
	margin: 2.5em 0 1em 0;
}

.contacts .contacts-items .contacts-item h3 {
	color: #281356;
	margin-top: .75em;
}

.contacts .contacts-items .contacts-item {
	text-align: center;
	color: #3c3c3c;
	font-weight: bold;
	width: 33%;
}

.contacts .contacts-items a:hover {
	text-decoration: underline;
}

.contacts .contacts-items a img {
	margin: 1em auto;
}