video {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -100;

}

.preview {
	background-image: url(../img/bc.png);
	background-attachment: scroll;
	padding: 15em 0 2.5em 0;
	margin: 0;
	box-shadow: none;
}

.preview > p {
	width: 75%;
	font-size: 1.25em;
	margin: 0 auto;
	font-style: italic;
}

.preview div {
	margin-top: 12.5em;
}

.services .services-items .services-item {
	width: 25%;
}

.services .services-items .services-item h3 {
	margin: 1em 0 .25em 0;
	color: #281356;
}

.technologies .technologies-slider {
	margin-top: 2.5em;
}

.technologies .technologies-slider div {
	margin-bottom: 1.5em;
}

.portfolio .portfolio-items {
	margin-top: 1em;
	margin-bottom: 1em;
}

.portfolio .portfolio-items.first {
	margin-top: 2.5em;
}

.portfolio .portfolio-items.last {
	margin-bottom: 2.5em;
}

.portfolio .portfolio-items .portfolio-item {
	background-blend-mode: overlay;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 15em;
	text-align: left;
	padding: 1em;
}

.portfolio .portfolio-items.first .portfolio-item:first-child {
	background-image: url(../img/portfolio1.png);
}

.portfolio .portfolio-items.first .portfolio-item:nth-child(2) {
	background-image: url(../img/portfolio1.png);
}

.portfolio .portfolio-items.first .portfolio-item:last-child {
	background-image: url(../img/portfolio2.png);
}

.portfolio .portfolio-items.last .portfolio-item:first-child {
	background-image: url(../img/portfolio3.png);
}

.portfolio .portfolio-items.last .portfolio-item:nth-child(2) {
	background-image: url(../img/portfolio4.png);
}

.portfolio .portfolio-items.last .portfolio-item:last-child {
	background-image: url(../img/portfolio4.png);
}

.portfolio .portfolio-items .portfolio-item span,
.portfolio .portfolio-items .portfolio-item h3 {
	color: transparent;
}

.portfolio .portfolio-items .portfolio-item:hover {
	background-color: rgba(0, 0, 0, .5);
	transition: .25s;
}

.portfolio .portfolio-items .portfolio-item:hover span,
.portfolio .portfolio-items .portfolio-item:hover h3 {
	color: white;
}

.portfolio a.btn {
	width: 25%;
}

.testimotials .testimotials-slider p {
	margin: 2.5em 0 1em 0;
}

.testimotials .testimotials-slider h3 {
	margin: 2.5em 0 1em 0;
	color: #281356;
}

.contacts .contacts-items .contacts-item h3 {
	color: #281356;
	margin-top: .75em;
}

.contacts p {
	font-style: italic;
	margin-top: 1em;
}

.contacts .contacts-items a {
	width: 25%;
}

.footer-contacts {
	border-bottom: 3px solid white;
	width: 25%;
	justify-content: center;
	margin: 1em auto;
}

.footer-contacts a {
	color: white;
	padding: 1em;
}